
.wpo-text-height:before { content: '\e800'; } /* '' */
.wpo-text-width:before { content: '\e801'; } /* '' */
.wpo-text-size:before { content: '\e802'; } /* '' */
.wpo-trash:before { content: '\e803'; } /* '' */
.wpo-plus:before { content: '\e804'; } /* '' */
.wpo-expand:before { content: '\e805'; } /* '' */
.wpo-collapse:before { content: '\e806'; } /* '' */
.wpo-down-circle:before { content: '\e807'; } /* '' */
.wpo-up-circle:before { content: '\e808'; } /* '' */
.wpo-down-small:before { content: '\e809'; } /* '' */
.wpo-up-small:before { content: '\e80a'; } /* '' */
.wpo-left-small:before { content: '\e80b'; } /* '' */
.wpo-right-small:before { content: '\e80c'; } /* '' */
.wpo-down-dark:before { content: '\e80d'; } /* '' */
.wpo-left-dark:before { content: '\e80e'; } /* '' */
.wpo-right-dark:before { content: '\e80f'; } /* '' */
.wpo-up-dark:before { content: '\e810'; } /* '' */
.wpo-down-bold:before { content: '\e811'; } /* '' */
.wpo-left-bold:before { content: '\e812'; } /* '' */
.wpo-right-bold:before { content: '\e813'; } /* '' */
.wpo-up-bold:before { content: '\e814'; } /* '' */
.wpo-help:before { content: '\e815'; } /* '' */
.wpo-help-circle:before { content: '\e816'; } /* '' */
.wpo-yes:before { content: '\e817'; } /* '' */
.wpo-yes-circle-dark:before { content: '\e818'; } /* '' */
.wpo-ok-circle-light:before { content: '\e819'; } /* '' */
.wpo-no:before { content: '\e81a'; } /* '' */
.wpo-no-circle-dark:before { content: '\e81b'; } /* '' */
.wpo-no-circle-light:before { content: '\e81c'; } /* '' */
.wpo-calendar:before { content: '\e81d'; } /* '' */
.wpo-clock:before { content: '\e81e'; } /* '' */
.wpo-left-circle-dark:before { content: '\f0a8'; } /* '' */
.wpo-right-circle-dark:before { content: '\f0a9'; } /* '' */
.wpo-up-circle-dark:before { content: '\f0aa'; } /* '' */
.wpo-down-circle-dark:before { content: '\f0ab'; } /* '' */
.wpo-menu:before { content: '\f0c9'; } /* '' */
.wpo-yes-square:before { content: '\f14a'; } /* '' */
.wpo-down:before { content: '\f175'; } /* '' */
.wpo-up:before { content: '\f176'; } /* '' */
.wpo-left:before { content: '\f177'; } /* '' */
.wpo-right:before { content: '\f178'; } /* '' */
.wpo-right-circle:before { content: '\f18e'; } /* '' */
.wpo-left-circle:before { content: '\f190'; } /* '' */