@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?a1xs0q');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?a1xs0q#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?a1xs0q') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?a1xs0q') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?a1xs0q') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?a1xs0q##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wpoic-"], [class*=" wpoic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpoic-book {
  &:before {
    content: $wpoic-book; 
  }
}
.wpoic-file-text {
  &:before {
    content: $wpoic-file-text; 
  }
}
.wpoic-download {
  &:before {
    content: $wpoic-download; 
  }
}
.wpoic-upload {
  &:before {
    content: $wpoic-upload; 
  }
}
.wpoic-database {
  &:before {
    content: $wpoic-database; 
  }
}
.wpoic-collapse {
  &:before {
    content: $wpoic-collapse; 
  }
}
.wpoic-expand {
  &:before {
    content: $wpoic-expand; 
  }
}
.wpoic-clock {
  &:before {
    content: $wpoic-clock; 
  }
}
.wpoic-icon {
  &:before {
    content: $wpoic-icon; 
  }
}
.wpoic-icon-small {
  &:before {
    content: $wpoic-icon-small; 
  }
}
.wpoic-logo {
  &:before {
    content: $wpoic-logo; 
  }
}
.wpoic-info-with-circle {
  &:before {
    content: $wpoic-info-with-circle; 
  }
}
.wpoic-info {
  &:before {
    content: $wpoic-info; 
  }
}
.wpoic-menu {
  &:before {
    content: $wpoic-menu; 
  }
}
.wpoic-file_download {
  &:before {
    content: $wpoic-file_download; 
  }
}
.wpoic-delete {
  &:before {
    content: $wpoic-delete; 
  }
}
.wpoic-help {
  &:before {
    content: $wpoic-help; 
  }
}
.wpoic-restore {
  &:before {
    content: $wpoic-restore; 
  }
}
.wpoic-plus {
  &:before {
    content: $wpoic-plus; 
  }
}
.wpoic-question {
  &:before {
    content: $wpoic-question; 
  }
}
.wpoic-minus {
  &:before {
    content: $wpoic-minus; 
  }
}
.wpoic-yes {
  &:before {
    content: $wpoic-yes; 
  }
}
.wpoic-no {
  &:before {
    content: $wpoic-no; 
  }
}
.wpoic-gear {
  &:before {
    content: $wpoic-gear; 
  }
}
.wpoic-all-direction {
  &:before {
    content: $wpoic-all-direction; 
  }
}
.wpoic-arrow-left-small {
  &:before {
    content: $wpoic-arrow-left-small; 
  }
}
.wpoic-arrow-right-small {
  &:before {
    content: $wpoic-arrow-right-small; 
  }
}
.wpoic-plus-circle {
  &:before {
    content: $wpoic-plus-circle; 
  }
}
.wpoic-minus-circle {
  &:before {
    content: $wpoic-minus-circle; 
  }
}
.wpoic-check-circle {
  &:before {
    content: $wpoic-check-circle; 
  }
}
.wpoic-question-circle {
  &:before {
    content: $wpoic-question-circle; 
  }
}
.wpoic-arrow-left {
  &:before {
    content: $wpoic-arrow-left; 
  }
}
.wpoic-arrow-right {
  &:before {
    content: $wpoic-arrow-right; 
  }
}
.wpoic-arrow-up {
  &:before {
    content: $wpoic-arrow-up; 
  }
}
.wpoic-arrow-down {
  &:before {
    content: $wpoic-arrow-down; 
  }
}
.wpoic-warning {
  &:before {
    content: $wpoic-warning; 
  }
}
.wpoic-calendar {
  &:before {
    content: $wpoic-calendar; 
  }
}
.wpoic-arrow-up-small {
  &:before {
    content: $wpoic-arrow-up-small; 
  }
}
.wpoic-arrow-down-small {
  &:before {
    content: $wpoic-arrow-down-small; 
  }
}
.wpoic-gears {
  &:before {
    content: $wpoic-gears; 
  }
}
.wpoic-list-ul {
  &:before {
    content: $wpoic-list-ul; 
  }
}
.wpoic-caret-down {
  &:before {
    content: $wpoic-caret-down; 
  }
}
.wpoic-caret-up {
  &:before {
    content: $wpoic-caret-up; 
  }
}
.wpoic-caret-left {
  &:before {
    content: $wpoic-caret-left; 
  }
}
.wpoic-caret-right {
  &:before {
    content: $wpoic-caret-right; 
  }
}
.wpoic-envelope {
  &:before {
    content: $wpoic-envelope; 
  }
}
.wpoic-support {
  &:before {
    content: $wpoic-support; 
  }
}

