@font-face {
  font-family: 'WPOnion';
  src:  url('fonts/WPOnion.eot?wzi209');
  src:  url('fonts/WPOnion.eot?wzi209#iefix') format('embedded-opentype'),
    url('fonts/WPOnion.woff2?wzi209') format('woff2'),
    url('fonts/WPOnion.ttf?wzi209') format('truetype'),
    url('fonts/WPOnion.woff?wzi209') format('woff'),
    url('fonts/WPOnion.svg?wzi209#WPOnion') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wpoic"], [class*=" wpoic"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'WPOnion' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpoicicon:before {
  content: "\e907";
}
.wpoicicon-small:before {
  content: "\e908";
}
.wpoiclogo:before {
  content: "\e909";
}
.wpoiccollapse:before {
  content: "\e906";
}
.wpoicexpand:before {
  content: "\e900";
}
.wpoicclock:before {
  content: "\e901";
}
.wpoictime:before {
  content: "\e901";
}
.wpoicmenu:before {
  content: "\e904";
}
.wpoiclive_help:before {
  content: "\e905";
}
.wpoicremove_circledo_not_disturb_on:before {
  content: "\e90a";
}
.wpoicremove_circle_outline:before {
  content: "\e90b";
}
.wpoicborder_color:before {
  content: "\e90c";
}
.wpoicformat_color_fill:before {
  content: "\e90d";
}
.wpoicformat_color_text:before {
  content: "\e90e";
}
.wpoicformat_paint:before {
  content: "\e90f";
}
.wpoiccloud_download:before {
  content: "\e910";
}
.wpoiccloud_uploadbackup:before {
  content: "\e911";
}
.wpoicfile_downloadget_app:before {
  content: "\e912";
}
.wpoiccolor_lenspalette:before {
  content: "\e913";
}
.wpoiccolorize:before {
  content: "\e914";
}
.wpoicdelete:before {
  content: "\e915";
}
.wpoichelp:before {
  content: "\e916";
}
.wpoicsettings_backup_restore:before {
  content: "\e917";
}
.wpoichelp_outline:before {
  content: "\e918";
}
.wpoicdelete_forever:before {
  content: "\e919";
}
.wpoicdelete_outline:before {
  content: "\e91a";
}
.wpoiccontact_support:before {
  content: "\e91b";
}
.wpoicplus:before {
  content: "\f067";
}
.wpoicquestion:before {
  content: "\f128";
}
.wpoicminus:before {
  content: "\f068";
}
.wpoicenvelope-o:before {
  content: "\f003";
}
.wpoiccheck:before {
  content: "\f00c";
}
.wpoicyes:before {
  content: "\f00c";
}
.wpoicclose:before {
  content: "\f00d";
}
.wpoicremove:before {
  content: "\f00d";
}
.wpoictimes:before {
  content: "\f00d";
}
.wpoicno:before {
  content: "\f00d";
}
.wpoiccheck-square-o:before {
  content: "\f046";
}
.wpoicall:before {
  content: "\f047";
}
.wpoicarrows:before {
  content: "\f047";
}
.wpoicall-direction:before {
  content: "\f047";
}
.wpoicarrow-left-small:before {
  content: "\f053";
}
.wpoicarrow-right-small:before {
  content: "\f054";
}
.wpoicplus-circle:before {
  content: "\f055";
}
.wpoicminus-circle:before {
  content: "\f056";
}
.wpoiccheck-circle:before {
  content: "\f058";
}
.wpoiccheck-circle-o:before {
  content: "\f05d";
}
.wpoicarrow-left:before {
  content: "\f060";
}
.wpoicarrow-right:before {
  content: "\f061";
}
.wpoicarrow-up:before {
  content: "\f062";
}
.wpoicarrow-down:before {
  content: "\f063";
}
.wpoiccalendar:before {
  content: "\f073";
}
.wpoicarrow-up-small:before {
  content: "\f077";
}
.wpoicarrow-down-small:before {
  content: "\f078";
}
.wpoictwitter-square:before {
  content: "\f081";
}
.wpoicfacebook-square:before {
  content: "\f082";
}
.wpoicgithub-square:before {
  content: "\f092";
}
.wpoictwitter:before {
  content: "\f099";
}
.wpoicfacebook:before {
  content: "\f09a";
}
.wpoicfacebook-f:before {
  content: "\f09a";
}
.wpoicgithub:before {
  content: "\f09b";
}
.wpoiccaret-down:before {
  content: "\f0d7";
}
.wpoiccaret-left:before {
  content: "\f0d9";
}
.wpoiccaret-right:before {
  content: "\f0da";
}
.wpoicenvelope:before {
  content: "\f0e0";
}
.wpoicplus-square:before {
  content: "\f0fe";
}
.wpoiccalendar-o:before {
  content: "\f133";
}
.wpoicminus-square:before {
  content: "\f146";
}
.wpoicminus-square-o:before {
  content: "\f147";
}
.wpoicplus-square-o:before {
  content: "\f196";
}
.wpoicwordpress:before {
  content: "\f19a";
}
.wpoiceyedropper:before {
  content: "\f1fb";
}
.wpoicpaint-brush:before {
  content: "\f1fc";
}
.wpoiccalendar-plus-o:before {
  content: "\f271";
}
.wpoiccalendar-minus-o:before {
  content: "\f272";
}
.wpoiccalendar-times-o:before {
  content: "\f273";
}
.wpoiccalendar-check-o:before {
  content: "\f274";
}
.wpoictimes-rectangle:before {
  content: "\f2d3";
}
.wpoicwindow-close:before {
  content: "\f2d3";
}
.wpoictimes-rectangle-o:before {
  content: "\f2d4";
}
.wpoicwindow-close-o:before {
  content: "\f2d4";
}
