@font-face {
  font-family: 'wponion';
  src:  url('fonts/wponion.eot?ikh2p3');
  src:  url('fonts/wponion.eot?ikh2p3#iefix') format('embedded-opentype'),
    url('fonts/wponion.woff2?ikh2p3') format('woff2'),
    url('fonts/wponion.ttf?ikh2p3') format('truetype'),
    url('fonts/wponion.woff?ikh2p3') format('woff'),
    url('fonts/wponion.svg?ikh2p3#wponion') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wpoic-"], [class*=" wpoic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wponion' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpoic-icon:before {
  content: "\e907";
}
.wpoic-icon-small:before {
  content: "\e908";
}
.wpoic-logo:before {
  content: "\e909";
}
.wpoic-collapse:before {
  content: "\e906";
}
.wpoic-expand:before {
  content: "\e900";
}
.wpoic-clock:before {
  content: "\e901";
}
.wpoic-time:before {
  content: "\e901";
}
.wpoic-info-with-circle:before {
  content: "\e902";
}
.wpoic-info:before {
  content: "\e903";
}
.wpoic-menu:before {
  content: "\e904";
}
.wpoic-live_help:before {
  content: "\e905";
}
.wpoic-remove_circledo_not_disturb_on:before {
  content: "\e90a";
}
.wpoic-remove_circle_outline:before {
  content: "\e90b";
}
.wpoic-border_color:before {
  content: "\e90c";
}
.wpoic-format_color_fill:before {
  content: "\e90d";
}
.wpoic-format_color_text:before {
  content: "\e90e";
}
.wpoic-format_paint:before {
  content: "\e90f";
}
.wpoic-cloud_download:before {
  content: "\e910";
}
.wpoic-cloud_uploadbackup:before {
  content: "\e911";
}
.wpoic-file_downloadget_app:before {
  content: "\e912";
}
.wpoic-color_lenspalette:before {
  content: "\e913";
}
.wpoic-colorize:before {
  content: "\e914";
}
.wpoic-delete:before {
  content: "\e915";
}
.wpoic-help:before {
  content: "\e916";
}
.wpoic-settings_backup_restore:before {
  content: "\e917";
}
.wpoic-help_outline:before {
  content: "\e918";
}
.wpoic-delete_forever:before {
  content: "\e919";
}
.wpoic-delete_outline:before {
  content: "\e91a";
}
.wpoic-contact_support:before {
  content: "\e91b";
}
.wpoic-plus:before {
  content: "\f067";
}
.wpoic-question:before {
  content: "\f128";
}
.wpoic-minus:before {
  content: "\f068";
}
.wpoic-envelope-o:before {
  content: "\f003";
}
.wpoic-check:before {
  content: "\f00c";
}
.wpoic-yes:before {
  content: "\f00c";
}
.wpoic-close:before {
  content: "\f00d";
}
.wpoic-remove:before {
  content: "\f00d";
}
.wpoic-times:before {
  content: "\f00d";
}
.wpoic-no:before {
  content: "\f00d";
}
.wpoic-check-square-o:before {
  content: "\f046";
}
.wpoic-all:before {
  content: "\f047";
}
.wpoic-arrows:before {
  content: "\f047";
}
.wpoic-all-direction:before {
  content: "\f047";
}
.wpoic-arrow-left-small:before {
  content: "\f053";
}
.wpoic-arrow-right-small:before {
  content: "\f054";
}
.wpoic-plus-circle:before {
  content: "\f055";
}
.wpoic-minus-circle:before {
  content: "\f056";
}
.wpoic-check-circle:before {
  content: "\f058";
}
.wpoic-question-circle:before {
  content: "\f059";
}
.wpoic-check-circle-o:before {
  content: "\f05d";
}
.wpoic-arrow-left:before {
  content: "\f060";
}
.wpoic-arrow-right:before {
  content: "\f061";
}
.wpoic-arrow-up:before {
  content: "\f062";
}
.wpoic-arrow-down:before {
  content: "\f063";
}
.wpoic-exclamation-triangle:before {
  content: "\f071";
}
.wpoic-warning:before {
  content: "\f071";
}
.wpoic-calendar:before {
  content: "\f073";
}
.wpoic-arrow-up-small:before {
  content: "\f077";
}
.wpoic-arrow-down-small:before {
  content: "\f078";
}
.wpoic-twitter-square:before {
  content: "\f081";
}
.wpoic-facebook-square:before {
  content: "\f082";
}
.wpoic-github-square:before {
  content: "\f092";
}
.wpoic-twitter:before {
  content: "\f099";
}
.wpoic-facebook:before {
  content: "\f09a";
}
.wpoic-facebook-f:before {
  content: "\f09a";
}
.wpoic-github:before {
  content: "\f09b";
}
.wpoic-caret-down:before {
  content: "\f0d7";
}
.wpoic-caret-left:before {
  content: "\f0d9";
}
.wpoic-caret-right:before {
  content: "\f0da";
}
.wpoic-envelope:before {
  content: "\f0e0";
}
.wpoic-plus-square:before {
  content: "\f0fe";
}
.wpoic-calendar-o:before {
  content: "\f133";
}
.wpoic-minus-square:before {
  content: "\f146";
}
.wpoic-minus-square-o:before {
  content: "\f147";
}
.wpoic-plus-square-o:before {
  content: "\f196";
}
.wpoic-wordpress:before {
  content: "\f19a";
}
.wpoic-eyedropper:before {
  content: "\f1fb";
}
.wpoic-paint-brush:before {
  content: "\f1fc";
}
.wpoic-calendar-plus-o:before {
  content: "\f271";
}
.wpoic-calendar-minus-o:before {
  content: "\f272";
}
.wpoic-calendar-times-o:before {
  content: "\f273";
}
.wpoic-calendar-check-o:before {
  content: "\f274";
}
.wpoic-times-rectangle:before {
  content: "\f2d3";
}
.wpoic-window-close:before {
  content: "\f2d3";
}
.wpoic-times-rectangle-o:before {
  content: "\f2d4";
}
.wpoic-window-close-o:before {
  content: "\f2d4";
}
