$icomoon-font-family: "WPOnion" !default;
$icomoon-font-path: "fonts" !default;

$wpoicicon: "\e907";
$wpoicicon-small: "\e908";
$wpoiclogo: "\e909";
$wpoiccollapse: "\e906";
$wpoicexpand: "\e900";
$wpoicclock: "\e901";
$wpoictime: "\e901";
$wpoicmenu: "\e904";
$wpoiclive_help: "\e905";
$wpoicremove_circledo_not_disturb_on: "\e90a";
$wpoicremove_circle_outline: "\e90b";
$wpoicborder_color: "\e90c";
$wpoicformat_color_fill: "\e90d";
$wpoicformat_color_text: "\e90e";
$wpoicformat_paint: "\e90f";
$wpoiccloud_download: "\e910";
$wpoiccloud_uploadbackup: "\e911";
$wpoicfile_downloadget_app: "\e912";
$wpoiccolor_lenspalette: "\e913";
$wpoiccolorize: "\e914";
$wpoicdelete: "\e915";
$wpoichelp: "\e916";
$wpoicsettings_backup_restore: "\e917";
$wpoichelp_outline: "\e918";
$wpoicdelete_forever: "\e919";
$wpoicdelete_outline: "\e91a";
$wpoiccontact_support: "\e91b";
$wpoicplus: "\f067";
$wpoicquestion: "\f128";
$wpoicminus: "\f068";
$wpoicenvelope-o: "\f003";
$wpoiccheck: "\f00c";
$wpoicyes: "\f00c";
$wpoicclose: "\f00d";
$wpoicremove: "\f00d";
$wpoictimes: "\f00d";
$wpoicno: "\f00d";
$wpoiccheck-square-o: "\f046";
$wpoicall: "\f047";
$wpoicarrows: "\f047";
$wpoicall-direction: "\f047";
$wpoicarrow-left-small: "\f053";
$wpoicarrow-right-small: "\f054";
$wpoicplus-circle: "\f055";
$wpoicminus-circle: "\f056";
$wpoiccheck-circle: "\f058";
$wpoiccheck-circle-o: "\f05d";
$wpoicarrow-left: "\f060";
$wpoicarrow-right: "\f061";
$wpoicarrow-up: "\f062";
$wpoicarrow-down: "\f063";
$wpoiccalendar: "\f073";
$wpoicarrow-up-small: "\f077";
$wpoicarrow-down-small: "\f078";
$wpoictwitter-square: "\f081";
$wpoicfacebook-square: "\f082";
$wpoicgithub-square: "\f092";
$wpoictwitter: "\f099";
$wpoicfacebook: "\f09a";
$wpoicfacebook-f: "\f09a";
$wpoicgithub: "\f09b";
$wpoiccaret-down: "\f0d7";
$wpoiccaret-left: "\f0d9";
$wpoiccaret-right: "\f0da";
$wpoicenvelope: "\f0e0";
$wpoicplus-square: "\f0fe";
$wpoiccalendar-o: "\f133";
$wpoicminus-square: "\f146";
$wpoicminus-square-o: "\f147";
$wpoicplus-square-o: "\f196";
$wpoicwordpress: "\f19a";
$wpoiceyedropper: "\f1fb";
$wpoicpaint-brush: "\f1fc";
$wpoiccalendar-plus-o: "\f271";
$wpoiccalendar-minus-o: "\f272";
$wpoiccalendar-times-o: "\f273";
$wpoiccalendar-check-o: "\f274";
$wpoictimes-rectangle: "\f2d3";
$wpoicwindow-close: "\f2d3";
$wpoictimes-rectangle-o: "\f2d4";
$wpoicwindow-close-o: "\f2d4";

