$icomoon-font-family: "wponion" !default;
$icomoon-font-path: "fonts" !default;

$wpoic-pencil: "\e905";
$wpoic-book: "\e91f";
$wpoic-books: "\e920";
$wpoic-file-text: "\e922";
$wpoic-download: "\e960";
$wpoic-upload: "\e961";
$wpoic-save: "\e962";
$wpoic-database: "\e964";
$wpoic-insert-template: "\ea72";
$wpoic-collapse: "\e906";
$wpoic-expand: "\e900";
$wpoic-clock: "\e901";
$wpoic-icon: "\e907";
$wpoic-icon-small: "\e908";
$wpoic-logo: "\e909";
$wpoic-info-with-circle: "\e902";
$wpoic-info: "\e903";
$wpoic-menu: "\e904";
$wpoic-file_download: "\e912";
$wpoic-delete: "\e915";
$wpoic-help: "\e916";
$wpoic-restore: "\e917";
$wpoic-plus: "\f067";
$wpoic-question: "\f128";
$wpoic-minus: "\f068";
$wpoic-yes: "\f00c";
$wpoic-no: "\f00d";
$wpoic-gear: "\f013";
$wpoic-all-direction: "\f047";
$wpoic-arrow-left-small: "\f053";
$wpoic-arrow-right-small: "\f054";
$wpoic-plus-circle: "\f055";
$wpoic-minus-circle: "\f056";
$wpoic-check-circle: "\f058";
$wpoic-question-circle: "\f059";
$wpoic-arrow-left: "\f060";
$wpoic-arrow-right: "\f061";
$wpoic-arrow-up: "\f062";
$wpoic-arrow-down: "\f063";
$wpoic-warning: "\f071";
$wpoic-calendar: "\f073";
$wpoic-arrow-up-small: "\f077";
$wpoic-arrow-down-small: "\f078";
$wpoic-gears: "\f085";
$wpoic-list-ul: "\f0ca";
$wpoic-caret-down: "\f0d7";
$wpoic-caret-up: "\f0d8";
$wpoic-caret-left: "\f0d9";
$wpoic-caret-right: "\f0da";
$wpoic-envelope: "\f0e0";
$wpoic-support: "\f1cd";

