$icomoon-font-family: "wponion" !default;
$icomoon-font-path: "fonts" !default;

$wpoic-icon: "\e907";
$wpoic-icon-small: "\e908";
$wpoic-logo: "\e909";
$wpoic-collapse: "\e906";
$wpoic-expand: "\e900";
$wpoic-clock: "\e901";
$wpoic-time: "\e901";
$wpoic-menu: "\e904";
$wpoic-live_help: "\e905";
$wpoic-remove_circledo_not_disturb_on: "\e90a";
$wpoic-remove_circle_outline: "\e90b";
$wpoic-border_color: "\e90c";
$wpoic-format_color_fill: "\e90d";
$wpoic-format_color_text: "\e90e";
$wpoic-format_paint: "\e90f";
$wpoic-cloud_download: "\e910";
$wpoic-cloud_uploadbackup: "\e911";
$wpoic-file_downloadget_app: "\e912";
$wpoic-color_lenspalette: "\e913";
$wpoic-colorize: "\e914";
$wpoic-delete: "\e915";
$wpoic-help: "\e916";
$wpoic-settings_backup_restore: "\e917";
$wpoic-help_outline: "\e918";
$wpoic-delete_forever: "\e919";
$wpoic-delete_outline: "\e91a";
$wpoic-contact_support: "\e91b";
$wpoic-plus: "\f067";
$wpoic-question: "\f128";
$wpoic-minus: "\f068";
$wpoic-envelope-o: "\f003";
$wpoic-check: "\f00c";
$wpoic-yes: "\f00c";
$wpoic-close: "\f00d";
$wpoic-remove: "\f00d";
$wpoic-times: "\f00d";
$wpoic-no: "\f00d";
$wpoic-check-square-o: "\f046";
$wpoic-all: "\f047";
$wpoic-arrows: "\f047";
$wpoic-all-direction: "\f047";
$wpoic-arrow-left-small: "\f053";
$wpoic-arrow-right-small: "\f054";
$wpoic-plus-circle: "\f055";
$wpoic-minus-circle: "\f056";
$wpoic-check-circle: "\f058";
$wpoic-check-circle-o: "\f05d";
$wpoic-arrow-left: "\f060";
$wpoic-arrow-right: "\f061";
$wpoic-arrow-up: "\f062";
$wpoic-arrow-down: "\f063";
$wpoic-calendar: "\f073";
$wpoic-arrow-up-small: "\f077";
$wpoic-arrow-down-small: "\f078";
$wpoic-twitter-square: "\f081";
$wpoic-facebook-square: "\f082";
$wpoic-github-square: "\f092";
$wpoic-twitter: "\f099";
$wpoic-facebook: "\f09a";
$wpoic-facebook-f: "\f09a";
$wpoic-github: "\f09b";
$wpoic-caret-down: "\f0d7";
$wpoic-caret-left: "\f0d9";
$wpoic-caret-right: "\f0da";
$wpoic-envelope: "\f0e0";
$wpoic-plus-square: "\f0fe";
$wpoic-calendar-o: "\f133";
$wpoic-minus-square: "\f146";
$wpoic-minus-square-o: "\f147";
$wpoic-plus-square-o: "\f196";
$wpoic-wordpress: "\f19a";
$wpoic-eyedropper: "\f1fb";
$wpoic-paint-brush: "\f1fc";
$wpoic-calendar-plus-o: "\f271";
$wpoic-calendar-minus-o: "\f272";
$wpoic-calendar-times-o: "\f273";
$wpoic-calendar-check-o: "\f274";
$wpoic-times-rectangle: "\f2d3";
$wpoic-window-close: "\f2d3";
$wpoic-times-rectangle-o: "\f2d4";
$wpoic-window-close-o: "\f2d4";

